.navbar {
  background-color: #373b69;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
}

.navbar-brand a {
  margin: 0;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-brand a:hover {
 cursor: default;
}


.navbar-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.1rem;
}

.navbar-links a:hover {
  color: orange;
}